<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webmyne.connect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".base.SplashActivity">

        </activity>
        <activity android:name=".base.MainActivity"></activity>
        <activity android:name=".user.EditProfileActivity"></activity>
        <activity android:name=".base.DrawerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.DrawerActivityNew"></activity>
        <activity android:name=".leads.PostLeadActivity">


        </activity>
        <activity android:name=".leads.LeadsListActivity">

        </activity>
    </application>

</manifest>
