<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.webmyne.connect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon,android:theme"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

        <activity android:name=".base.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.MainActivity"></activity>
        <activity android:name=".user.EditProfileActivity"></activity>
        <activity android:name=".user.EditProfileActivity1"></activity>

        <activity android:name=".base.DrawerActivity">

        </activity>
        <activity android:name=".leads.PostLeadActivity"> </activity>
        <activity android:name=".leads.LeadsListActivity"></activity>
        <activity android:name=".revenuePayment.RedeemMoneyActivity">

        </activity>

        <activity android:name=".revenuePayment.AddBankActivity"></activity>
        <activity android:name=".revenuePayment.PaymentHistoryListActivity"></activity>
        <activity android:name=".commission.CommissionHistoryListActivity"></activity>
        <activity android:name=".shareAndEarn.SharAndEarnActivity"></activity>



        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />


    </application>


</manifest>
